<a href="https://colab.research.google.com/github/SakthiganeshA/Data-analytics-Basics/blob/main/completed_cheatsheet(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 100
b = 2

# Add
print(a + b)

# Sub
print(a - b)

# Multiply
print(a * b)

# Divide
print(a / b)

# Floor division
print(a // b)

102
98
200
50.0
50

In [ ]:
# Increment operation
i = 1
while i < 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9

In [ ]:
i = 1
while i < 10:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [ ]:
# Sets
set1 = {1, 2, 3}
print("Set1:", set1)

print("First element:", set1.pop())
print("Set1:", set1)

set1.add(4)
print("Set1:", set1)

set1.remove(3)
print("Set1:", set1)

set2 = {3, 4, 5, 6, 7}
print("Set1 U Set2:", set1 | set2)

print("Set1 n Set2:", set1 & set2)

print("Set1 - Set2:", set1 - set2)

Set1: {1, 2, 3}
First element: 1
Set1: {2, 3}
Set1: {2, 3, 4}
Set1: {2, 4}
Set1 U Set2: {2, 3, 4, 5, 6, 7}
Set1 n Set2: {4}
Set1 - Set2: {2}

In [ ]:
# Types
a = 10
print("Type of a:", type(a))

b = "Hello World"
print("Type of b:", type(b))

c = True
print("Type of c:", type(c))

d = 10.245
print("Type of d:", type(d))

Type of a: <class 'int'>
Type of b: <class 'str'>
Type of c: <class 'bool'>
Type of d: <class 'float'>

In [ ]:
# List and Tuples
list1 = [1, 2, 3, 4, 5]
print("List1:", list1)

tuple1 = (6, 7, 8, 9, 10)
print("Tuple1:", tuple1)

List1: [1, 2, 3, 4, 5]
Tuple1: (6, 7, 8, 9, 10)

In [ ]:
Alphabets = ["a", "b", "c", "d", "e"]
for x in Alphabets:
  print(x)
  if x == "c":
    break

a
b
c

In [ ]:
Myname = "Sakthiganesh"
print(Myname[2:-3])

kthigan

In [ ]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [ ]:
# empty list
lst_names = []
# list with some string values in it
lst_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
lst_cities.append("NYC")
lst_cities.append("KVP")
# list with some integer values
lst_age = [10, 20]
# append an integer to the existing list
lst_age.append(30)
# iterate each value in a list
for val in lst_cities:
 print(val)
# check if a value exists in a list
if "SFO" in lst_cities:
 print("yes")
else:
 print("no")                          #clarification needed

Bangalore
Chennai
SFO
Beijing
NYC
KVP
yes

In [ ]:
lst_pets = ["dog", "Lion"]
for i, value in enumerate(lst_pets):
 print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is Lion

In [ ]:
lst_pets = ["dog", "Lion"]
for i, value in enumerate(lst_pets):
 print(f"At index {i}, the value in the list is {len(value)}")

At index 0, the value in the list is 3
At index 1, the value in the list is 4

In [ ]:
# empty set
set_names = ()
# Set with some string values in it
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
set_cities.append("TVL")
# list with some integer values
set_age = [10, 20]
# append an integer to the existing list
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'TVL']
[10, 20, 30]

In [ ]:
# empty set
set_names = ()
# Set with some string values in it
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
set_cities.append("NYC")
# list with some integer values
set_age = [10, 20]
# append an integer to the existing list
set_age.append(30)
print(set_cities)
print(set_age)
set_cities.append("TVL")
set_age.append(set_cities)
print(set_age)
print(set_cities)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]
[10, 20, 30, ['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC', 'TVL']]
['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC', 'TVL']

In [ ]:
# declare dictionary
dict_data = {}
# insert a empty list into the dictionary
dict_data['pet'] = []
# append/add a list of dict to the list
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})
print(dict_data)

{'pet': [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]}

In [ ]:
# list having different pet types
lst_pet_types = ["cat", "dog", "horse"]
# returns number of elements in the list
c_pet_types = len(lst_pet_types)
# prints 3
print(f"# pet types: {c_pet_types}")
# Using len() for dictionary
dict_pets = {"name": "dog", "age": 2}
# returns number of keys in the dictionary
c_pets = len(dict_pets)
# prints 2
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
           "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}
# returns number of keys in the dictionary
c_pets, c_humans = len(dict_pets), len(dict_p_h)
# prints 1
print(f"# pets: {c_pets} ; # humans: {c_humans}")
# get only keys from the dictionary
lst_keys = [*dict_p_h]
# get only values from the dictionary
lst_values = [*dict_p_h.values()]
# prints
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'dog', 'age': 2}, {'name': 'dog', 'age': 2}], [{'name': 'ram', 'age': 12}, {'name': 'kumaran', 'age': 11}]]

In [ ]:
txt = " 	Moscow 	"
str_clean = txt.strip()
print(f"From weather report, {str_clean} is too cold most of the times")

From weather report, Moscow is too cold most of the times

In [ ]:
txt = " 	Moscow111112222	"
str_clean = txt.strip("12")
print(f"From weather report, {str_clean} is too cold most of the times")               #clarification needed

From weather report,  	Moscow111112222	 is too cold most of the times

In [ ]:
lst_items = ['rambo','dog','chennai']
# joins elements of lst_items by delimiter ','
str = ','.join(lst_items)
# prints -> rambo,dog,chennai
print(str)

rambo,dog,chennai

In [ ]:
lst_items = ['rambo','dog','chennai']
# joins elements of lst_items by delimiter ','
str = ' and '.join(lst_items)
print(str)

rambo and dog and chennai

In [ ]:
from tabulate import tabulate
# custom function for pretty print
def pretty_print(title, df, n):
   print(f"\n{title}:")
   print(tabulate(df.head(n), headers="keys", tablefmt="psql"))

In [ ]:
num_person = 10
print(f"Type of num_person: {type(num_person)}")

Type of num_person: <class 'int'>

In [ ]:
age = 10
name = "dog"
if age == 10 and name == "dog": # conditional "and"
	print("10")
elif age == 1 or age == 5: # conditional "or"
	print("either 1 or 5")
else:
      print("else")

10

In [ ]:
str_message = 'Life will be truly wonderful on a wonderful planet.'
# returns index 19 (find the first occurrence starting from left side)
print(str_message.find('wonderful'))
# returns index 34 (find the first occurrence starting from right side)
print(str_message.rfind('wonderful'))
# returns index 19
print(str_message.find('wonder'))
# find index of "wonder" after index 20; returns index 34
print(str_message.find('wonder', 20))

19
34
19
34

In [ ]:
import random
# generates a random number between 0 and 1
random_num = random.random()
print(random_num)

0.34536739860967947

In [ ]:
from random import randrange
# approach 1: randomly generate a number between 0 and 10
print(randrange(10))
print(randrange(0, 10))
# approach 2:  randomly generate a number between 0 and 10
import random
# randomly generate a number between 0 and 10 (includes 10)
print(random.randint(10, 15))

5
2
11

In [ ]:
import os
# list all files in a directory
lst_files = os.listdir(r"C:\Users\Sakthi Ganesh\Pictures\Saved Pictures")
print(lst_files)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Sakthi Ganesh\\Pictures\\Saved Pictures'

In [ ]:
import json
# dictionary data to convert as a JSON object
dict_pets = {1: 'dog', 2: 'cat',
            3: 'horse', 4: 'elephant',
            5: 'tiger'}
# prints "dict"
print(type(dict_pets))
# save as JSON object
js_data = json.dumps(dict_pets)
# prints "dict"
print(type(dict_pets))
# prints with "" for key-value (wrong json)
print(dict_pets)
# prints with "" for key-value (correct json)
print(js_data)
print(type(js_data))

<class 'dict'>
<class 'dict'>
{1: 'dog', 2: 'cat', 3: 'horse', 4: 'elephant', 5: 'tiger'}
{"1": "dog", "2": "cat", "3": "horse", "4": "elephant", "5": "tiger"}
<class 'str'>

In [ ]:
salary = 10
f_salary = float(salary)
# float to int
salary = 10.11
# convert to integer
i_salary = int(salary)
print(f_salary)
print(i_salary)

10.0
10

In [ ]:
from dateutil import parser
from datetime import datetime
# approach 1
dt = parser.parse("Jun 1 2021  1:11PM")
print(dt)
# approach 2
datetime_object = datetime.strptime('Jun 1 2021  1:11PM', '%b %d %Y %I:%M%p')
print(datetime_object)

2021-06-01 13:11:00
2021-06-01 13:11:00

In [ ]:
def to_lowercase(in_str):
   return str(in_str).lower()
# text to be converted
text = "How are you?"
# convert string to lowercase
text = to_lowercase(text)
print(text)

TypeError: 'str' object is not callable

In [ ]:
def to_lowercase(in_str):
   return in_str.lower()
# text to be converted
text = "How are you?"
# convert string to lowercase
text = to_lowercase(text)
print(text)

how are you?

In [ ]:
text = "This is first line \n This is second line"
print(text)
# replace new line with blank space
text_clean = text.replace("\n", "")
print(text_clean)

This is first line
 This is second line
This is first line  This is second line

In [ ]:
import re
in_str = "Hi, Where are you from?"
str_clean = re.sub(r'\W+', ' ', in_str)
# prints -> Hi Where are you from
print(str_clean)

Hi Where are you from

In [ ]:
# dictionary that helps to normalise
dict_norm = {"puppyhood": "dog",
         	"puppyish": "dog",
         	"puppylike": "dog"
        	}
# dictionary that needs transformation in its value
dict_species = {"caesar": "puppyhood", "ryan": "dog", "leela": "cat"}
# create new dictionary to hold the normalised output
dict_species_norm = {}
# iterate items in dict
for key, value in dict_species.items():
	# if value exists in key of dict_norm
	if value in dict_norm.keys():
    	   dict_species_norm[key] = dict_norm[value]
	else:
    	   dict_species_norm[key] = value
# prints -> {"caesar": "dog", "ryan": "dog", "leela": "cat"}
print(dict_species_norm)

{'caesar': 'dog', 'ryan': 'dog', 'leela': 'cat'}

In [ ]:
import pandas as pd
from tabulate import tabulate
# first df
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                     'type': ['a', 'b', 'c', 'd'],
                     'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']})
pretty_print("df_1:", df_1,10)    #why this number
# second df
df_2 = pd.DataFrame({
                   'id' : ['A01', 'A06', 'A02', 'A07'],
                   'type': ['a', 'b', 'c', 'd'],
                   'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                   'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)
# outer join => outputs all rows from both dataframes
df_new = pd.merge(df_1, df_2, on='id', how='outer')
pretty_print("merged outer:", df_new, 10)
# inner join (equi join) => outputs common intersect
df_new = pd.merge(df_1, df_2, on='id', how='inner')
pretty_print("merged inner:", df_new, 10)

# different column name
df_new = pd.merge(df_1, df_2, left_on='id', right_on='id', how='outer')
print(df_new)

df_1::
+----+------+--------+---------+
|    | id   | type   | Name    |
|----+------+--------+---------|
|  0 | A01  | a      | Dog     |
|  1 | A02  | b      | Cat     |
|  2 | A03  | c      | Eagle   |
|  3 | A04  | d      | Peacock |
+----+------+--------+---------+

df_2::
+----+------+--------+-----------+-------+
|    | id   | type   | City      |   Age |
|----+------+--------+-----------+-------|
|  0 | A01  | a      | SFO       |    12 |
|  1 | A06  | b      | Chennai   |    13 |
|  2 | A02  | c      | NYC       |    14 |
|  3 | A07  | d      | Bangalore |    12 |
+----+------+--------+-----------+-------+

merged outer::
+----+------+----------+---------+----------+-----------+-------+
|    | id   | type_x   | Name    | type_y   | City      |   Age |
|----+------+----------+---------+----------+-----------+-------|
|  0 | A01  | a        | Dog     | a        | SFO       |    12 |
|  1 | A02  | b        | Cat     | c        | NYC       |    14 |
|  2 | A03  | c        | Eagle   | nan      | nan       |   nan |
|  3 | A04  | d        | Peacock | nan      | nan       |   nan |
|  4 | A06  | nan      | nan     | b        | Chennai   |    13 |
|  5 | A07  | nan      | nan     | d        | Bangalore |    12 |
+----+------+----------+---------+----------+-----------+-------+

merged inner::
+----+------+----------+--------+----------+--------+-------+
|    | id   | type_x   | Name   | type_y   | City   |   Age |
|----+------+----------+--------+----------+--------+-------|
|  0 | A01  | a        | Dog    | a        | SFO    |    12 |
|  1 | A02  | b        | Cat    | c        | NYC    |    14 |
+----+------+----------+--------+----------+--------+-------+
    id type_x     Name type_y       City  Age
0  A01      a      Dog      a        SFO   12
1  A02      b      Cat      c        NYC   14
2  A03      c    Eagle    NaN        NaN  NaN
3  A04      d  Peacock    NaN        NaN  NaN
4  A06    NaN      NaN      b    Chennai   13
5  A07    NaN      NaN      d  Bangalore   12

In [ ]:
import pandas as pd
from tabulate import tabulate
# first df
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                   'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']
                    })
pretty_print("df_1:", df_1, 10)
# second df
df_2 = pd.DataFrame({
                   'id' : ['A01', 'A06', 'A02', 'A07'],
                   'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                   'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)
# LEFT JOIN => takes all the values from df1, if it exists on the df2 puts it values, otherwise nan
df_new = df_1.merge(df_2, left_on=['id'], right_on = ['id'], how='left')
pretty_print("left join:", df_new, 10)
# find rows in df2 which are not in df1
df_na = df_new[df_new["City"].isna()]
pretty_print("rows in df2 which are not in df1:", df_na, 10)

df_1::
+----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+

df_2::
+----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+

left join::
+----+------+---------+--------+-------+
|    | id   | Name    | City   |   Age |
|----+------+---------+--------+-------|
|  0 | A01  | Dog     | SFO    |    12 |
|  1 | A02  | Cat     | NYC    |    14 |
|  2 | A03  | Eagle   | nan    |   nan |
|  3 | A04  | Peacock | nan    |   nan |
+----+------+---------+--------+-------+

rows in df2 which are not in df1::
+----+------+---------+--------+-------+
|    | id   | Name    |   City |   Age |
|----+------+---------+--------+-------|
|  2 | A03  | Eagle   |    nan |   nan |
|  3 | A04  | Peacock |    nan |   nan |
+----+------+---------+--------+-------+